aws_region            = "ap-south-1"
main_bucket_name      = "your-main-bucket"
secure_bucket_name    = "your-secure-bucket"
lambda_function_name  = "your-lambda-name"
sns_topic_name        = "your-sns-topic"
subscription_email    = "your-email@example.com"